/* $color-text: #dedce5; */
/* Sakura.css v1.5.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

:root {
	--color: #c9c9c9;
	--background: #222222;
}

/* Body */
html {
	font-size: 62.5%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif;
}

body {
	width: 100%;
	height: 100dvh;

	font-size: 1.8rem;
	line-height: 1.618;
	max-width: 500px;
	margin: auto;
	color: var(--color);
	background-color: var(--background);

	/* https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not */
	touch-action: none;
}

* {
	box-sizing: border-box;
}

@media (max-width: 684px) {
	body {
		font-size: 1.53rem;
	}
}
@media (max-width: 382px) {
	body {
		font-size: 1.35rem;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}

h1 {
	font-size: 2.35em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

small,
sub,
sup {
	font-size: 75%;
}

hr {
	border-color: var(--color);
}

a {
	text-decoration: none;
	color: var(--color);
}
a:visited {
	color: var(--color);
}
a:hover {
	color: var(--color);
	border-bottom: 2px solid var(--color);
}

ul,
ol {
	padding-left: 1.4em;
	margin-top: 0px;
	margin-bottom: 0px;
}

li {
}

blockquote {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 1em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-right: 0.8em;
	border-left: 5px solid var(--color);
	margin-bottom: 0px;

	background-color: #4a4a4a;
}

img,
video {
	height: auto;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Pre and Code */
pre {
	background-color: #4a4a4a;
	display: block;
	padding: 1em;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.9em;
}

code,
kbd,
samp {
	font-size: 0.9em;
	padding: 0 0.5em;
	background-color: #4a4a4a;
	white-space: pre-wrap;
}

pre > code {
	padding: 0;
	background-color: transparent;
	white-space: pre;
	font-size: 1em;
}

/* Tables */
table {
	text-align: justify;
	width: 100%;
	border-collapse: collapse;
}

td,
th {
	padding: 0.5em;
	border-bottom: 1px solid #4a4a4a;
}

/* Buttons, forms and input */
input,
textarea {
	border: 1px solid var(--color);
}
input:focus,
textarea:focus {
	border: 1px solid var(--color);
}

textarea {
	width: 100%;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='file']::file-selector-button {
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background-color: var(--color);
	color: var(--background);
	border-radius: 1px;
	border: 1px solid var(--color);
	cursor: pointer;
	box-sizing: border-box;
}
.button[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled],
input[type='file']::file-selector-button[disabled] {
	cursor: default;
	opacity: 0.5;
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
input[type='file']::file-selector-button:hover {
	background-color: var(--color);
	color: var(--background);
	outline: 0;
}
.button:focus-visible,
button:focus-visible,
input[type='submit']:focus-visible,
input[type='reset']:focus-visible,
input[type='button']:focus-visible,
input[type='file']::file-selector-button:focus-visible {
	outline-style: solid;
	outline-width: 2px;
}

textarea,
select,
input {
	color: var(--color);
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #4a4a4a;
	border: 1px solid #4a4a4a;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
textarea:focus,
select:focus,
input:focus {
	border: 1px solid var(--color);
	outline: 0;
}

input[type='checkbox']:focus {
	outline: 1px dotted var(--color);
}

label,
legend,
fieldset {
	display: block;
	font-weight: 600;
}

.full-w {
	width: 100%;
}
.full-h {
	height: 100dvh;
}

.flex {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flexible {
	flex: 1 1;
}
.gap-1 {
	gap: 4px;
}
.gap-2 {
	gap: 8px;
}
.gap-4 {
	gap: 16px;
}
.align-items-center {
	align-items: center;
}
.align-items-baseline {
	align-items: baseline;
}
.align-self-center {
	align-self: center;
}

.sticky-b {
	position: sticky;
	bottom: 0;
}

.small {
	color: gray;
	font-size: 10px;
	font-weight: bold;
}
